## Feature Selection and Model Evaluation

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
import numpy as np

In [3]:
# Define the path to the uploaded file
file_path = 'finalised.csv'

# Load the dataset
df = pd.read_csv(file_path)

# Display the first few rows of the dataset
df.head()

,Date,RegionName,AreaCode,AveragePrice,Index,IndexSA,1m%Change,12m%Change,AveragePriceSA,SalesVolume,...,NewPrice,NewIndex,New1m%Change,New12m%Change,NewSalesVolume,OldPrice,OldIndex,Old1m%Change,Old12m%Change,OldSalesVolume
0,01/01/2013,East Midlands,E12000004,137536.5355,89.501836,89.73525,-1.036673,0.856126,137895.2167,3447.0,...,173897.6555,86.715297,-3.977678,0.034394,217.0,134817.7424,89.798194,-0.712662,0.945563,3230.0
1,01/02/2013,East Midlands,E12000004,137599.2999,89.542680,89.74266,0.045635,1.099802,137906.6118,3522.0,...,175581.5732,87.554994,0.968338,0.532139,307.0,134753.3618,89.755312,-0.047754,1.167650,3215.0
2,01/03/2013,East Midlands,E12000004,138561.8313,90.169047,90.19189,0.699518,1.121401,138596.9279,4585.0,...,180069.6051,89.792983,2.556095,1.854837,572.0,135444.0406,90.215353,0.512550,1.060622,4013.0
3,01/04/2013,East Midlands,E12000004,139314.2861,90.658707,90.45051,0.543046,0.631746,138994.3555,4258.0,...,179464.4630,89.491225,-0.336060,1.104084,390.0,136301.2755,90.786333,0.632907,0.593136,3868.0
4,01/05/2013,East Midlands,E12000004,141012.3511,91.763722,90.93737,1.218874,1.997612,139742.5070,5780.0,...,181727.5737,90.619741,1.261036,2.393503,501.0,137956.7711,91.889010,1.214586,1.967697,5279.0

In [4]:
# Example feature sets
feature_sets = [
    ['DetachedPrice', 'SemiDetachedPrice', 'TerracedPrice', 'FlatPrice'],
    ['DetachedPrice', 'SemiDetachedPrice', 'FlatPrice'],
    ['DetachedPrice', 'TerracedPrice', 'FlatPrice'],
    # Add more combinations as needed
]

# Target variable
target = 'AveragePrice'

# Split data into training and testing sets
X = df.drop(columns=[target])
y = df[target]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [5]:
# Evaluate different feature sets
results = []

for features in feature_sets:
    X_train_subset = X_train[features]
    X_test_subset = X_test[features]

    model = LinearRegression()
    model.fit(X_train_subset, y_train)
    y_pred = model.predict(X_test_subset)
    
    r2 = r2_score(y_test, y_pred)
    results.append((features, r2))

# Display results
for features, r2 in results:
    print(f"Features: {features}, R-squared: {r2:.4f}")

Features: ['DetachedPrice', 'SemiDetachedPrice', 'TerracedPrice', 'FlatPrice'], R-squared: 0.9703
Features: ['DetachedPrice', 'SemiDetachedPrice', 'FlatPrice'], R-squared: 0.9702
Features: ['DetachedPrice', 'TerracedPrice', 'FlatPrice'], R-squared: 0.9664